<!DOCTYPE html>
<html>
<head>
    <title>Opload af projektgrænse</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 700px;
            width: 100%;
        }
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Opdatering af projektgrænse</h1>
    <div id="map"></div>
    <div class="button-container">
        <form id="upload-form">
            <input type="file" name="file" accept=".geojson" required />
            <button type="submit">Vis GeoJSON</button>
        </form>
        <button id="add-layer">Tilføj lag til REST-service</button>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.5.3/dist/esri-leaflet.js"></script>

    <script>
        var map = L.map('map').setView([57.05, 9.92], 10); // Centered at Limfjorden

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        L.esri.featureLayer({
            url: 'https://services6.arcgis.com/QHir1urgnGYroCLG/arcgis/rest/services/PG_versioneret_110624/FeatureServer/0'
        }).addTo(map);

        var geojson;

        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var fileInput = document.querySelector('input[type="file"]');
            var file = fileInput.files[0];

            var reader = new FileReader();
            reader.onload = function() {
                geojson = JSON.parse(reader.result);

                L.geoJSON(geojson).addTo(map);
            };
            reader.readAsText(file);
        });

        document.getElementById('add-layer').addEventListener('click', function() {
            fetch('/upload', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(geojson)
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message || data.error);
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
